
<% if logged_in? %>  
<% if flash[:error] %>
<% flash[:error].each do |k,v| %> 
<h1 class="fields_with_errors"><%= k %></h1> 
<h1 class="fields_with_errors"><%= v.first %></h1>
<% end %>
<% end %>
<% @customer %>
<%= render partial: 'partial/cut', locals: { haircut: @customer.haircuts.build } %> 
<% else %>
<%= render partial: 'partial/cut', locals: {haircut: @haircut = Haircut.new} %> 
<% end %> 
