<div class="shop">
<h1>Shop of Barbers</h1> 
</div>
<div class="barber" %>
<ol>
<% @barbers.each do |barber| %>
<li><%= link_to barber.name, barber_path(barber) %></li>
    <ul>
<% barber.customers.all.uniq.each do |customer| %>
<h4>Takes care of: </h4>

    <li><%= customer.name %></li>
    <% end %>
    </ul> 
<% style = barber.haircuts.all.map{|cut| cut.style } %>
<% style.uniq.each do |type| %>
<h2 class='white'>In styles of: <b><%= type %></b></h2> 
<% end %>
<% end %> 
</div> 
