<h1>Welcome to the Shop</h1> 
<nav><%= link_to 'Register', new_customer_path %> | <%= link_to 'schedule haircuts', new_haircut_path %> | <%= link_to 'login', login_path %> | <%= link_to('Log in with Facebook!', '/auth/facebook') %>
</nav>