<h1 class='first'><%= session[:message] if session[:message] %></h1>
<div class='customer'>
<h1 class='red'><b><%= @customer.name %></b></h1> 

<h3 class='white'><%= @customer.haircuts.count %></h3>  

<h3 class='blue'><%= @customer.barbers.count %></h3> 

</div>


